@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@500;600;700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Outfit", "Space Grotesk", "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary-blue: #0b63e5;
  --color-primary-dark: #001f3f;
  
  --color-background: #f2f8fc;
  --color-foreground: #1e293b;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

@layer utilities {
  .tag-blue {
    @apply inline-flex items-center px-2.5 py-0.5 rounded-full text-[10px] font-bold bg-[#e0f2fe] text-[#0ea5e9] uppercase tracking-wider;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
